<div class="flex flex-col items-center justify-center">
  <img class="w-14 h-14" ngSrc="assets/svgs/key.svg" alt="Key" width="79" height="79">
  <app-logo/>
  <h3 class="text-2xl font-black mt-3 mb-1">Forgot your password?</h3>
  <p class="mb-2 text-center">Enter your email address and we will send you a link to reset your password.</p>
  <form class="w-full" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="entry w-full mb-2 relative">
      <div class="relative">
        <input type="email" name="email" id="email" placeholder="Email address" formControlName="email"
               [ngClass]="{'border-error focus:border-error': isFormSubmitted() && f['email'].errors}"
               class="w-full focus:border-primary-400 focus-visible:outline-none transition-colors duration-500 rounded-full px-5 border-light-gray border-2 py-3">
      </div>
      @if (isFormSubmitted() && f['email'].errors) {
        @if (f['email'].errors?.['required']) {
          <span class="text-error font-semibold text-xs pl-5">Email is required</span>
        } @else if (f['email'].errors?.['email']) {
          <span class="text-error font-semibold text-xs pl-5">Invalid email</span>
        }
      }
    </div>
    <button [disabled]="isLoggingIn()"
            [ngClass]="{'opacity-50': isLoggingIn()}"
            class="flex items-center justify-center gap-2 bg-gradient-primary-r px-6 py-3 rounded-full font-bold min-w-[150px] w-full shadow-primary-400/10 shadow-btn">
      <app-loader size="sm" [show]="isLoggingIn()"/>
      <span>Proceed</span>
    </button>
  </form>
  <a [routerLink]="['/auth/login']" class="text-primary-400 underline mt-3">Back to Login</a>
</div>
