@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova/proximanova-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova/proximanova-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova/proximanova-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova/proximanova-extrabold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/proxima-nova/proximanova-black.otf");
  font-weight: 900;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-default selection:text-white selection:bg-primary;
    font-family: "Proxima Nova", sans-serif;
  }

  img {
    @apply select-none pointer-events-none;
  }
}

@layer components {
  .container {
    @apply px-4 md:px-6 lg:px-8 max-w-7xl mx-auto;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-primary to-primary-400 bg-clip-text text-opacity-0 text-primary hover:from-primary-400 hover:to-primary transition-all duration-300;
  }
}
