<div class="bg-gradient-primary-r">
  <div class="container relative py-20 md:min-h-[690px] flex flex-col items-center gap-14 md:gap-10 md:flex-row">
    <div class="text-white flex flex-col gap-4 md:flex-1">
      <h1 class="font-black text-3xl leading-[2.5rem] lg:text-5xl md:leading-[3rem]">Get access to unlimited educational
        resources. Everywhere, everytime!</h1>
      <p class="md:text-lg font-bold">premium access to more than 10,000 resources ranging from courses, events
        e.t.c.</p>
      <app-button type="link" to="/auth/login" color="white" label="Get access"/>
    </div>

    <div class="md:flex-1 lg:flex-[1.2]">
      <img class="absolute bottom-0 md:top-0 right-0 w-[450px]" ngSrc="assets/images/isolated-images.png"
           width="430"
           height="382"
           alt="Hero image"
           priority>
      <img ngSrc="assets/images/hero-image.png" width="577" height="371" alt="Hero image"
           priority>
    </div>
  </div>
</div>

<div class="bg-primary-100">
  <div class="container py-24">
    <div class="max-w-4xl mx-auto flex flex-col items-center gap-16 md:flex-row md:items-start md:gap-10">
      <div class="flex items-center justify-center text-center flex-col max-w-[300px] flex-1">
        <div class="relative mb-3">
          <img ngSrc="assets/images/unlimited-access.png" alt="unlimited access" width="100" height="90" priority>
        </div>
        <h3 class="text-xl mb-1 font-black">Unlimited Access</h3>
        <p>One subscription, unlimited access</p>
      </div>
      <div class="flex items-center justify-center text-center flex-col max-w-[300px] flex-1">
        <div class="relative mb-3">
          <img ngSrc="assets/images/expert-teacher.png" alt="Expert Teachers" width="113" height="92" priority>
        </div>
        <h3 class="text-xl mb-1 font-black">Expert Teachers</h3>
        <p class="text-center">Learn from industry experts who are passionate about teaching.</p>
      </div>
      <div class="flex items-center justify-center text-center flex-col max-w-[300px] flex-1">
        <div class="relative mb-3">
          <img ngSrc="assets/images/learn-anywhere.png" alt="Learn anywhere" width="122" height="88" priority>
        </div>
        <h3 class="text-xl mb-1 font-black">Learn Anywhere</h3>
        <p>Switch between your computer, tablet, or mobile device.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary-100 relative overflow-hidden">
  <div class="container pb-20 lg:pb-24 pt-10 flex justify-end">
    <div class="md:w-1/2">
      <h3 class="text-4xl md:text-5xl md:gap-3 gap-1 mb-3 md:mb-10 capitalize flex flex-col font-light text-primary">
        <span>Learn a Skill.</span>
        <span>Build your portfolio.</span>
        <span class="font-black">Get Hired!</span>
      </h3>
      <p class="text-lg leading-relaxed mb-5 md:text-xl md:mb-10">
        Edu Africa is an online education platform that delivers video courses, programs and resources for Individual,
        Advertising & Media Specialist, Online Marketing Professionals, Freelancers and anyone looking to pursue a
        career in digital marketing, Accounting, Web development, Programming. Multimedia and CAD design.
      </p>
      <app-button type="link" to="discover" label="Discover"/>
    </div>
  </div>
  <div class="md:w-1/2 md:absolute md:top-0">
    <svg viewBox="0 0 792 865" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.0711 854.787C-220.201 860.131 -412.009 677.369 -417.342 446.576C-422.676 215.782 -239.516 24.3545 -8.24385 19.0097C223.029 13.665 775.415 119.324 780.749 350.117C786.082 580.91 242.344 849.442 11.0711 854.787Z"
        fill="url(#paint0_linear_811_2)"/>
      <path
        d="M-8.99052 846.918C-240.325 846.785 -427.751 659.533 -427.619 428.678C-427.486 197.823 -239.845 10.7855 -8.51085 10.9182C222.824 11.0509 772.553 129.759 772.421 360.614C772.288 591.469 222.344 847.051 -8.99052 846.918Z"
        fill="#EFE4CF"/>
      <defs>
        <linearGradient id="paint0_linear_811_2" x1="-410.937" y1="48.5391" x2="842.834" y2="545.146"
                        gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFC000" offset="1"/>
          <stop offset="1" stop-color="#FF8A00"/>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>

<div class="bg-gradient-primary-l">
  <div class="bg-stories bg-no-repeat bg-contain">
    <div class="container flex flex-col gap-10 py-16 lg:py-24 lg:flex-row lg:items-center">
      <div class="flex flex-col gap-5 lg:w-1/3 lg:gap-10">
        <h3 class="font-black text-3xl lg:text-4xl leading-[2.5rem] lg:leading-[3rem]">Success Stories From Our Students
          WorldWide!</h3>
        <p class="text-lg font-medium">Edu Africa is an online education platform that delivers video courses, programs
          and resources
          for
          Individual, Advertising & Media Specialist, Online Marketing Professionals, Freelancers and anyone looking to
          pursue a career in digital marketing, Accounting, Web development, Programming. Multimedia and CAD design.
        </p>
        <app-button color="white" type="link" to="discover" label="Discover"/>
      </div>
      <div class="relative lg:w-2/3">
        <img ngSrc="assets/images/media-placeholder.png" width="804" height="677" alt="Media placeholder" priority>
      </div>
    </div>
  </div>
</div>

<div class="container text-center py-14 lg:py-20">
  <h1 class="text-4xl text-gradient-primary mb-5 font-black">Courses</h1>
  <div class="mb-5 text-lg">
    Yo! This section is coming soon 🤭
  </div>
  <app-button type="link" to="discover" label="Discover"/>
</div>

<div class="bg-gradient-primary-l">
  <div class="container py-20 flex flex-col gap-10 md:flex-row md:justify-center md:items-start">
    <div class="flex flex-col items-center justify-center text-center md:flex-1">
      <div class="relative mb-4">
        <img ngSrc="assets/images/registered-students.png" alt="Registered students" width="103" height="90" priority>
      </div>
      <h3 class="text-4xl font-black mb-1">5,679</h3>
      <p class="max-w-xl">Registered students</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center md:flex-1">
      <div class="relative mb-4">
        <img ngSrc="assets/images/helped-students.png" alt="Helped students" width="100" height="89" priority>
      </div>
      <h3 class="text-4xl font-black mb-1">2,679</h3>
      <p class="max-w-[250px]">Student has been helped to achieve their dreams</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center md:flex-1">
      <div class="relative mb-4">
        <img ngSrc="assets/images/visits.png" alt="Visits" width="98" height="87" priority>
      </div>
      <h3 class="text-4xl font-black mb-1">10,000</h3>
      <p class="max-w-[250px]">More than 10,000 people visits our site monthly</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center md:flex-1">
      <div class="relative mb-4">
        <img ngSrc="assets/images/rank.png" alt="Rank" width="88" height="86" priority>
      </div>
      <h3 class="text-4xl font-black mb-1">#10</h3>
      <p class="max-w-[250px]">Ranked among the top 10 growing online learning startups in West Africa</p>
    </div>
  </div>
</div>

<div class="py-14 lg:py-20">
  <div class="container">
    <div class="text-center">
      <h1 class="text-4xl text-gradient-primary mb-3 font-black">What Students Say</h1>
      <div class="mb-5 text-lg">
        Don't just take our word for it, hear what our students have to say about Edu Africa
      </div>
    </div>
  </div>
  <div class="mt-10">
    <swiper-container class="py-5" appSwiper [config]="swiperConfig">
      <swiper-slide class="w-[350px] lg:w-[450px]" *ngFor="let testimonial of testimonials()">
        <app-testimonial [testimonial]="testimonial"></app-testimonial>
      </swiper-slide>
    </swiper-container>
  </div>
</div>

<div class="relative">
  <div class="container py-20">
    <img class="absolute -left-10 w-24 -top-10 lg:w-auto" ngSrc="assets/images/shape-pricing.png" alt="Rectangle image"
         width="182"
         height="428"
         priority>
    <div class="flex relative z-10 flex-col md:flex-row gap-10 lg:gap-14 items-center justify-center">
      <div class="text-center md:text-left">
        <h3 class="text-gradient-primary font-black mb-4 lg:mb-5 text-3xl lg:text-5xl lg:leading-tight">Our <br> Pricing
          Plans
        </h3>
        <p class="mb-4 max-w-[350px] lg:max-w-[370px] lg:mb-5 lg:text-lg">
          Edu Africa is an online education platform that delivers video courses,
          programs and resources for Individual, Advertising & Media Specialist, Online Marketing Professionals etc.
        </p>
        <app-button type="link" to="auth/signup" label="Start Free Trial"/>
      </div>

      <div class="md:flex-1 flex flex-col md:flex-row md:gap-3 gap-10">
        <div class="border relative overflow-hidden lg:w-1/2 h-[630px] border-light-gray rounded-lg p-5 lg:p-10">
          <h3 class="text-3xl mb-4 font-normal">Premium</h3>
          <div class="relative">
            <span class="absolute top-0 left-0 text-xl font-semibold">$</span>
            <h4>
              <span class="font-black text-9xl text-gradient-primary">15</span>
              <span class="text-base text-default font-semibold">/monthly</span>
            </h4>
          </div>
          <p class="mb-6">Edu Africa is an online education platform that delivers video courses, programs and
            resources for</p>

          <div class="flex flex-col gap-3">
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="0"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="0"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Unlimited Download</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Offline Accessibility</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>24/7 Supports</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Jobs Opportunity</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>2.0% Transaction Fee</span>
            </div>
          </div>
          <svg class="absolute inset-x-0 left-0 right-0 w-full bottom-0" viewBox="0 0 273 67" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 67C0 67 161.193 60.5826 214.5 47.5C267.807 34.4174 273 0 273 0V62C273 64.7614 270.761 67 268 67H0Z"
              fill="url(#paint0_linear_3_253)"/>
            <defs>
              <linearGradient id="paint0_linear_3_253" x1="269.451" y1="1.62031" x2="133.056" y2="165.426"
                              gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFC000" offset="1"/>
                <stop offset="1" stop-color="#FF8A00"/>
              </linearGradient>
            </defs>
          </svg>

        </div>

        <div class="border relative overflow-hidden lg:w-1/2 h-[630px] border-light-gray rounded-lg p-5 lg:p-10">
          <h3 class="text-3xl mb-4 font-normal">Premium</h3>
          <div class="relative">
            <span class="absolute top-0 left-0 text-xl font-semibold">$</span>
            <h4>
              <span class="font-black text-9xl text-gradient-primary">120</span>
              <span class="text-base text-default font-semibold">/annually</span>
            </h4>
          </div>
          <p class="mb-6">Edu Africa is an online education platform that delivers video courses, programs and
            resources for</p>

          <div class="flex flex-col gap-3">
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Unlimited Download</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Offline Accessibility</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>24/7 Supports</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>Jobs Opportunity</span>
            </div>
            <div class="flex items-center gap-2">
              <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z"
                  stroke="url(#paint0_linear_3_260)" stroke-width="2"/>
                <path d="M8.60742 4.28564L5.35742 7.53564L3.85742 6.03564" stroke="url(#paint1_linear_3_260)"
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <defs>
                  <linearGradient id="paint0_linear_3_260" x1="10.87" y1="1.24184" x2="-0.356884" y2="4.55087"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear_3_260" x1="8.54567" y1="4.36424" x2="3.65684" y2="6.47023"
                                  gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFC000" offset="1"/>
                    <stop offset="1" stop-color="#FF8A00"/>
                  </linearGradient>
                </defs>
              </svg>

              <span>2.0% Transaction Fee</span>
            </div>
          </div>
          <svg class="absolute inset-x-0 left-0 right-0 w-full bottom-0" viewBox="0 0 273 67" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 67C0 67 161.193 60.5826 214.5 47.5C267.807 34.4174 273 0 273 0V62C273 64.7614 270.761 67 268 67H0Z"
              fill="url(#paint0_linear_3_253)"/>
            <defs>
              <linearGradient id="paint0_linear_3_253" x1="269.451" y1="1.62031" x2="133.056" y2="165.426"
                              gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFC000" offset="1"/>
                <stop stop-color="#FF8A00" offset="1"/>
              </linearGradient>
            </defs>
          </svg>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="bg-primary-100 bg-no-repeat">
  <div class="container py-16 lg:py-24">
    <div class="flex flex-col md:flex-row md:items-center gap-10 justify-between max-w-5xl mx-auto">
      <div class="md:flex-1">
        <h3 class="mb-3 font-black text-4xl text-gradient-primary">Subscribe to Our Newsletter</h3>
        <p>Get exclusive discounts and latest news delivered to your inbox for free!</p>
      </div>
      <form class="w-full md:flex-[2]">
        <div class="relative w-full flex flex-col gap-2">
          <input type="email" class="w-full h-full py-4 px-6 border border-light-gray rounded-full"
                 placeholder="Enter your email">
          <app-button customClass="w-full"
                      class="md:absolute md:w-auto md:top-1/2 md:right-1 md:-translate-y-1/2" type="button"
                      label="Subscribe"/>
        </div>
      </form>
    </div>
  </div>
  <div class="relative overflow-hidden">
    <div class="container py-10 lg:py-20 flex items-center justify-end">
      <div class="md:w-1/2">
        <h3 class="text-gradient-primary font-black text-4xl lg:text-5xl lg:leading-tight mb-5 md:mb-10">Let’s Build
          <br>
          Something <br>
          Great
          Together</h3>
        <p class="mb-5 md:mb-10 md:text-lg">
          Edu Africa is an online education platform that delivers video courses, programs and resources for
          Individual, Advertising & Media Specialist, Online Marketing Professionals, Freelancers and anyone looking to
          pursue a career in digital marketing, Accounting, Web development, Programming. Multimedia and CAD design.
        </p>
        <app-button type="link" to="contact" label="Let's Talk!"/>
      </div>
    </div>
    <div class="md:absolute md:w-1/2 md:left-0 md:top-0">
      <svg viewBox="0 0 786 814" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M193.027 754.85C17.6754 787.347 -150.764 671.834 -183.193 496.846C-215.622 321.858 -99.7605 153.658 75.5911 121.162C250.943 88.6656 684.321 101.175 716.75 276.164C749.179 451.152 368.378 722.354 193.027 754.85Z"
          fill="url(#paint0_linear_1019_8)"/>
        <path
          d="M184.472 743.969C9.12026 776.465 -159.319 660.953 -191.748 485.965C-224.177 310.976 -108.316 142.777 67.0359 110.281C242.387 77.7843 675.765 90.2941 708.194 265.282C740.623 440.27 359.823 711.473 184.472 743.969Z"
          fill="#EFE4CF"/>
        <defs>
          <linearGradient id="paint0_linear_1019_8" x1="-227.246" y1="193.135" x2="787.972" y2="416.958"
                          gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFC000" offset="0"/>
            <stop offset="1" stop-color="#FF8A00"/>
          </linearGradient>
        </defs>
      </svg>

    </div>
  </div>
</div>
